body {
  font-family: Arial, Helvetica, sans-serif;
}
header,
#pricing-heading-container,
#pricing-section,
#features-comparison {
  max-width: 1280px;
  margin: 0 auto;
}
/* navbar */
#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
#nav-container .logo img {
  width: 130px;
}

#list-container .list-item {
  list-style: none;
}

#list-container .list-item a {
  text-decoration: none;
  color: rgb(70, 175, 193);
  font-weight: 700;
  font-size: 1.2rem;
  padding: 10px;
}
#list-container .list-item a:hover {
  background-color: lightgray;
  /* background-color: rgb(241, 119, 4); */
}
.btn {
  background-color: rgba(0, 0, 255, 0.725);
  padding: 15px 35px;
  border: none;
  border-radius: 25px;
  font-weight: 800;
  color: white;
  cursor: pointer;
}
.btn:hover {
  background-color: lightcoral;
}
/** navbar end here */

/* pricing container */
#pricing-heading-container h1 {
  margin-top: 70px;
  text-align: center;
  font-weight: 400;
}
#pricing-heading-container p {
  margin-top: 20px;
  color: lightslategray;
  width: 1350px;
  margin: auto;
  font-weight: 400;
}
.heading-button {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.heading-button .btn1 {
  padding: 20px 70px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: white;
  font-weight: 600;
  font-size: 1.25rem;
  cursor: pointer;
}
.heading-button .btn1:focus {
  background-color: skyblue;
}

.heading-button .btn2 {
  padding: 20px 40px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: white;
  font-weight: 600;
  font-size: 1.25rem;
  cursor: pointer;
}
.heading-button .btn2:focus {
  background-color: skyblue;
}
#pricing-container {
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 40px;
}
#pricing-container .price-card {
  border: 2px solid rgb(9, 97, 132);
}
.price-card {
  background-color: aliceblue;
  border-radius: 25px;
  text-align: center;
}
.price-card h4 {
  color: rgba(0, 0, 255, 0.689);
  font-weight: 600;
}
.price-card h3 {
  color: rgba(0, 0, 0, 0.712);
  font: 2.5rem;
}
.price-card h2 span {
  color: lightgray;
  text-transform: uppercase;
  text-decoration: line-through;
}
.green {
  color: green;
}
.features {
  text-align: left;
}
.box-shadow {
  background-color: rgba(70, 175, 193, 0.3);
  box-shadow: 2px 6px 10px 0 rgba(70, 175, 193, 0.3);
}
.features h3 {
  margin-left: 25px;
  background-color: rgba(211, 211, 211, 0.532);
  padding: 5px 10px;
  width: 300px;
}
.features ul {
  margin-top: 40px;
  padding: 0 20px;
}
.features ul li {
  list-style: none;
  margin-bottom: 30px;
}
.features a {
  color: rgba(0, 0, 0, 0.693);
  font-weight: 700;
}
.features a:hover {
  background-color: lightgray;
}
#data-plan {
  max-width: 600px;
  margin: 10px auto;
}
.plan-card-container {
  margin: 50px 0;
  border-radius: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.127);
}

.card-2 {
  position: relative;
}

.badge img {
  position: absolute;
  top: -50px;
  right: -35px;
  /* background-color: rgba(0, 0, 255, 0.296); */
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

#features-comparison {
  border-collapse: collapse;
  margin-top: 50px;
  margin-bottom: 70px;
}
#features-comparison caption {
  font-size: 2rem;
  font-weight: 700;
  margin: 50px 0;
}
#features-comparison th {
  background-color: rgba(0, 0, 255, 0.725);
  color: aliceblue;
  font-size: 1.5rem;
  font-weight: 700;
}
#features-comparison td {
  /* background-color: rgba(0, 0, 255, 0.725); */
  font-weight: 600;
  font-size: 1.25rem;
  padding: 20px;
}
#features-comparison tr:hover {
  background-color: lightgray;
  cursor: pointer;
}
#features-comparison th,
td {
  border: 2px solid black;
  padding: 10px 50px;
}
/* pricing container end here */
